<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hi, <%= @order.user.firstname %></h3>

    <p>Unfortunately, your order was unable to be completed due to an issue processing your payment method. Please review your payment details and attempt to place the order again.</p>
  </body>
</html>